<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Character encoding for the document -->
    <meta charset="UTF-8">
    <!-- Viewport settings for responsive design -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Title of the web page that appears in the browser tab -->
    <title>User Management Application</title>
    <!-- Font Awesome library for using icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Link to the main stylesheet for general styles -->
    <link rel="stylesheet" href="css/style.css">
    <!-- Link to a specific stylesheet for profile-related styles -->
    <link rel="stylesheet" href="css/profile.css">
</head>
<body>
    <!-- Body for header -->
    <header id="header">
        <nav>
            <div class="container">
                <div class="text-container text-center">
                    <a href="/" class="nav-brand text-dark">User Management System</a>
                </div>
            </div>
        </nav>

    </header>